
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Saira+Extra+Condensed');


body {
  font-family: 'Saira Extra Condensed', sans-serif;
  background: blue;
  color: white;
 
}

div {
  background: red;
}

