
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Saira+Extra+Condensed');


body {
  font-family: 'Saira Extra Condensed', sans-serif;
  background: black;
  display: block;
  color: white;
  margin: auto;
  text-align: left;
  align: center;
}

div {
  background: green;
  padding-top: 10px;
  margin-bottom:
}

.container {
  background: gray;
  padding-top: 150px;
  padding-bottom: 145px;
}

#img-div {
  padding-top: -50px;
  padding-bottom: 75px;
  margin-top: -0px;
}

.black-bkg {
  background: black;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: green;
  text-align: auto;
}

h3 {
  display: block;
  color:white;
 
}

.left-text {
  text-align: center;
  font-size: 25px;
  padding-top: 60px;
  margin-top: -35px;
}

ul li {
  padding: 7px 0px;
}

#title {
  margin-bottom: -30px;
  padding-bottom: -145px;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  color: black;
}

#img-caption {
  max-width: 50%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -45px;
  padding-bottom: -145px;
}


#page-1-quote {
 text-align: center;
 margin-bottom: 0px;
 padding-top:
}

#footer-style {
  text-align: center;
  color: green;
  margin-top: 30px;
  margin-bottom: 30px;
}

#tribute-info {
  max-width: 50%;
  font-family: Elvish;
  text-align: left;
  margin: auto;
}

#center-headline {
  padding-bottom: -10px;
  padding-top: -150px;
  text-align: center;
  color: white;
}

.menu-background-area {
  background: gray;
  margin-bottom: -90px;
}