
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Saira+Extra+Condensed');


body {
  font-family: 'Saira Extra Condensed', sans-serif;
  
  display: block;
  color: white;
  margin: auto;
  text-align: left;
  align: center;
}

div {
  height: auto;
  display: block;
  max-width: auto;
  max-height: auto;
  background: green;
}

.container {
  background: white;
  padding-top: 60px;
  padding-bottom: 15px;
}

#img-div {
  height: auto;
  display: block;
  max-width: auto;
  padding-top: -50px;
  padding-bottom: 75px;
  margin-top: -0px;
}

.black-bkg {
  background: black;
  max-width: ;
  max-height: auto;
  padding-bottom: 25px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: green;
  text-align: auto;
}

h3 {
  display: block;
  color:white;
  font-size: 25px;
  padding-top: -140px;
  margin-top: -30px;

 
}

.left-text {
  text-align: center;
  font-size: 45px;
  padding-top: 60px;
  padding-bottom: -40px;
  margin-top: -35px;
  margin-bottom:-50px;
}

ul li {
  padding: 7px 0px;
}

#title {
  margin-bottom: -30px;
  padding-bottom: -145px;
  padding-top: 45px;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  color: black;
}

#img-caption {
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-bottom: auto;
}

#page-1-quote {
 font-size: 25px;
 text-align: center;
 margin-bottom: 0px;
 padding-top: 
 padding-bottom: 20px;
 padding-left:
}

#footer-style {
  font-size: 40px;
  text-align: center;
  color: green;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
}

#tribute-info {
  max-width: 50%;
  font-family: Elvish;
  text-align: left;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -35px;
}

#center-headline {
  padding-bottom: -10px;
  padding-top: -150px;
  text-align: center;
  color: white;
}

.menu-background-area {
  background: black;
  margin-bottom: -90px;
}

hr {
  height: auto;
  display: block;
  max-width: auto;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color:green;
  margin-top: 60px;
  
  }