body {
  background-color: grey;
  font-size: 100%;
}
#title {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  font-family: futura;
  padding: 0.3em 0em 0.3em 0em;
  margin: 0px;
}


.container {
  max-width: 10in;
  font-size: 1em;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 1em 1em 1em 1em;
}


#description {
  padding: 0em 0em 1em 0em;
}

#name-field, #email-field, #age {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding: 0px 0px 10px 0px
}

#name-field, #email-field, #age, #dropdown, #radio-buttons, #checkboxes, #comments, #textarea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding: 0px 0px 10px 0px
}

#name-label, #email-label, #number-label, #path-label, #radiolist-label, #checklist-label, #comments-label, #textarea-label {
  width: 100%;
  text-align: right;
  padding: 4px 0px 0px 0px;

}

input[name="name"], input[name="email"], input[name="age"], textarea[name="textarea"] {
  width: 100px;
  max-width: 90%;
  padding: 4px;
}

select {
  width: 50%;
  padding: 4px;
}

p {
  margin: 0px 0px 8px 0px;
}

.button {
  background-color: darkcyan;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  color: white;
}

@media (max-width: 600px) {
  #name-field, #email-field, #age, #dropdown, #radio-buttons, #checkboxes, #comments, #textarea {
  display: grid;
  grid-template-columns: 1fr;
  }
  
  #name-label, #email-label, #number-label, #path-label, #radiolist-label, #checklist-label, #comments-label, #textarea-label {
  width: 100%;
  text-align: left;
  padding: 4px 0px 0px 0px;
  }
 
  input[name="name"], input[name="email"], input[name="age"], textarea[name="textarea"] {
  width: 90%;
  padding: 4px;
}
 
  select {
  width: 50%;
  padding: 4px;
}
  
  p {
  margin: 0px 0px 8px 0px;
}
  
}

    